$color-black: black;
$color-white: white;

$color-primary: #2668c1;
$color-primary-dark: #2a6496;
$color-accent: #c44512;
$color-accent-light: #fbeec2;
$color-accent-dark: #2a6496;
$color-text-primary: #1a1a1a;
$color-text-secondary: #707070;
$color-icon: #8f8f8f;
$color-border: #e0e0e0;
$color-background: #f5f8fa;


$color-yellow: #ffdd66;
$color-orange-dark: #ff5722;
$color-red: #f44336;
$color-red-dark: #d32f2f;
$color-blue: #03a9f4;
$color-green: #64DD17;
$color-green-light: #e6fce5;
$color-gray: #707070;
$color-blue-bay: #1A60E9;


$color-success: $color-green;
$color-error: $color-red;

